<div class="form">
<form #booking="ngForm"  (ngSubmit)="onSubmitBook()" novalidate>
  <h3>Book a phone:</h3>
  phone to book:<br/>
  <label>
    <select [(ngModel)]="selectedPhone" id="selectPhone" name="selectPhone">
      <option *ngFor="let phone of phoneArray" [(ngValue)]="phone.id">{{ phone.name }}</option>
    </select>
    <p>phone selected: {{ selectedPhone | json }}</p>
  </label>
  <br/>
  tester:<br/>
  <label>
    <select [(ngModel)]="selectedTester" id="selectTester" name="selectTester">
      <option *ngFor="let tester of testerArray" [(ngValue)]="tester.id">{{ tester.name }}</option>
    </select>
    <p>tester selected: {{ selectedTester | json }}</p>
  </label>
  <br/>
  <button type="submit">Book a phone</button>
</form>
</div>
<br/>
<div class="form">
<form #return="ngForm" class="form" (ngSubmit)="onSubmitReturn()" novalidate>
  <h3>Return phone:</h3>
  <p>phone to return id:</p>
  <label>
    <input [(ngModel)]="phoneToReturnId" name="phone to return id" placeholder="phone to return id" type="text">
  </label>
  <p>
    <button type="submit">Return phone</button>
    <br/>
  </p>
</form>
</div>
