<h2>Booking Details</h2>
<div *ngIf="booking">
  <blockquote>
    <footer>
      id: {{booking.id}}<br/>
      bookingTime: {{booking.bookingTime}}<br/>
      tester id: {{booking.testerId}}<br/>
      phone id: {{booking.phoneId}}
    </footer>
  </blockquote>
</div>
