<h2>Testers</h2>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
      <tr>
        <th>Tester ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onSelect(tester)" *ngFor="let tester of testerArray" [class.success]="tester === selectedTester">
        <td>{{tester.id}}</td>
        <td>{{tester.name}}</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a tester for more details</div>
    <app-tester-detail [tester]="selectedTester"></app-tester-detail>
  </div>
</div>

