<h2>Phones</h2>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
      <tr>
        <th>Phone ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onSelect(phone)" *ngFor="let phone of phoneArray" [class.success]="phone === selectedPhone">
        <td>{{phone.id}}</td>
        <td>{{phone.name}}</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a phone for more details</div>
    <app-phone-detail [phone]="selectedPhone"></app-phone-detail>
  </div>
</div>

