<h2>Report Details</h2>
<div *ngIf="report">
  <blockquote>
    <footer>
      phone: {{report.phone}}<br/>
      id: {{report.id}}<br/>
      who: {{report.who}}<br/>
      when: {{report.when}}<br/>
      availability: {{report.availability}}<br/>
    </footer>
  </blockquote>
</div>
