<h2>Report</h2>
<div *ngIf="report">
  <blockquote>
    <p>{{report.phone}} {{report.id}} {{report.who}} </p>
    <footer>(phone: {{report.phone}}) (id: {{report.id}}) (who: {{report.who}})
      (when: {{report.when}}) (availability: {{report.availability}})
    </footer>
  </blockquote>
</div>
