<h2>Reports</h2>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
      <tr>
        <th>Phone ID</th>
        <th>Phone Name</th>
        <th>When Booked</th>
        <th>Who Booked</th>
        <th>Availability</th>
      </tr>
      </thead>
      <tbody>
      <tr (click)="onSelect(report)" *ngFor="let report of reportArray" [class.success]="report === selectedReport">
        <td>{{report.id}}</td>
        <td>{{report.phone}}</td>
        <td>{{report.when}}</td>
        <td>{{report.who}}</td>
        <td>{{report.availability}}</td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <div class="message">Click on a report item for more details</div>
    <app-report-detail [report]="selectedReport"></app-report-detail>
    <app-booking>form</app-booking>
  </div>
</div>

