<h1>{{title}}</h1>
<div class="tabs">
  <div class="index">
    <div (click)="tab=1" (keyup.enter)="tab=1" [ngClass]="{active: tab===1}"
         class="tab" role="tab" tabindex="0">
      Phones
    </div>
    <div (click)="tab=2" (keyup.enter)="tab=2" [ngClass]="{active: tab===2}"
         class="tab" role="tab" tabindex="0">
      Testers
    </div>
    <div (click)="tab=3" (keyup.enter)="tab=2" (keyup.enter)="tab=3"
         [ngClass]="{active: tab===3}"
         class="tab" role="tab" tabindex="0">
      Reports and Booking
    </div>
  </div>
  <div class="contents">
    <div *ngIf="tab === 1">
      <app-component-phones></app-component-phones>
    </div>
    <div *ngIf="tab === 2">
      <app-component-testers></app-component-testers>
    </div>
    <div *ngIf="tab === 3">
      <app-component-reports></app-component-reports>
    </div>
  </div>
</div>


