.tabs.index {
  display: flex;
  border: 1px solid #ccc;
  background: #EEE;
  padding: 4px 12px;
  border-radius: 4px 4px 0 0;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.tab.active {
  background: grey;
}

.tabs.contents {
  border: 1px solid #ddd3;
  min-height: 120px;
  padding: 12px;
}

.tab {
  background: #D3D3D3;
  display: inline-block;
  zoom: 1;
  width: 33%;
  text-align: center;
  border: 1px solid #DAE0E7;
  border-radius: 8px 8px 0 0;
  border: 1px solid #DAE0E7;
  font-size: 1.6rem;
  font-weight: bold;
}

